<h3>ember-radio-test</h3>
{{#radio-button
  radioId="purple-radio"
  radioClass="my-custom-class"
  value="purple"
  groupValue=color
  changed="colorChanged"}}
  Purple
{{/radio-button}}

<h3>Standard &lt;input&gt; Test</h3>
{{input type="radio" value="lessPurple"}}

{{outlet}}
